{% extends 'admin.html' %}

{% block content %}

<form method="post">
    {% csrf_token %}
    <div class="form-group">
        <label for="id_name">Nazwa:</label>
        {{ form.name }}
    </div>
    <div class="form-group">
        <label for="id_category">Kategoria:</label>
        {{ form.category }}
    </div>
    <div class="form-group">
        <label for="id_price">Cena:</label>
        {{ form.price }}
    </div>
    <div class="form-group">
        <label for="id_description">Opis:</label>
        {{ form.description }}
    </div>

    {% if form.errors %}
        {% for field in form %}
            {% for error in field.errors %}
                <div class="alert alert-danger">
                    <strong>{{ error | escape }}</strong>
                </div>
            {% endfor %}
        {% endfor %}
    {% endif %}

    <div class="text-right">
        <button type="submit" class="btn btn-primary">Zapisz</button>
    </div>
</form>

{% endblock %}