{% extends 'base.html' %}

{% block content %}

<div class="pt-2">
    <h2>{{ title }}</h2>
    <hr />

    <div class="row">
        {% include 'profile/menu.html' %}
        <div class="col-md-9">
            <div class="row py-2">
                <div class="col-3"><b>Produkt</b></div>
                <div class="col-2"><b>Cena</b></div>
                <div class="col-2"><b>Ilosc</b></div>
                <div class="col-3"><b>Suma do zaplaty</b></div>
            </div>
            {% for i in items %}
                <div class="row">
                    <div class="col-3">{{ i.product.name }}</div>
                    <div class="col-2">{{ i.price }}</div>
                    <div class="col-2">{{ i.quantity }}</div>
                    <div class="col-3">{% widthratio i.price 1 i.quantity %}</div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}