<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    {% load staticfiles %}
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/site.css' %}" />

    <title>WebStore - {{ title }}</title>
</head>
<body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark sticky-top">
        <div class="container-fluid justify-content-start">
            <button class="navbar-toggler pull-left order-1 order-md-1" type="button" data-toggle="collapse" data-target="#menu" aria-controls="menu" aria-expanded="false" aria-label="Otwórz menu">
                <span class="fa fa-bars"></span>
            </button>
            <a class="navbar-brand order-2 order-md-2" href="{% url 'store:home' %}">WebStore</a>
            <div class="collapse navbar-collapse order-6 order-md-3" id="menu">
                <div class="navbar-nav">
                    <a class="nav-link" href="/Category/Index/183943e9-0f6b-416f-e178-08d58658b16a">Elektronika</a>
                </div>
            </div>
            <div class="ml-auto mr-4 order-3 order-md-4">
                {% if user.is_authenticated %}
                    <a href="{% url 'profile:home' %}" class="fa fa-lg fa-user nav-link"></a>
                {% else %}
                    <a href="{% url 'account:login' %}" class="fa fa-lg fa-user nav-link"></a>
                {% endif %}
            </div>
            <div class="mr-3 order-4 order-md-5">
                <a class="nav-link" href="/Cart">
                    <div class="row">
                        <i class="fa fa-lg fa-shopping-bag col-6"></i><span id="cart-badge" class="badge badge-pill badge-secondary col-6 d-none d-md-block">0</span>
                    </div>
                </a>
            </div>
            {% if user.is_authenticated %}
            <div class="order-5 order-md-6">
                <a class="nav-link" href="{% url 'account:logout' %}">
                    <div class="row">
                        <i class="fa fa-lg fa-power-off col-6"></i>
                    </div>
                </a>
            </div>
            {% endif %}
        </div>
    </nav>
    <div class="container-fluid">
        {% block content %}{% endblock %}
    </div>
</body>
</html>